{% extends "base.html" %} 
{% block contant %}
<section>
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 text-center mb-5">
        <h1 class="page-title">Read Post {{post.id}}</h1>
      </div>
    </div>

    <div class="row mb-5">
      <div class="d-md-flex post-entry-2 half">
        <a href="#" class="me-4 thumbnail">
          <h1>{{post.title}}</h1>
          <p>{{post.content}}</p>
        </a>
       
      </div>
    </div>
  </div>
</section>

{% endblock %}

